.Container {
  align-items: center;
}
.jumbotron{
  margin-top: 20px;
  text-align: center;
}
div.tab-content{
    margin-top: 30px;
    text-align: left;
}
a.nav-link{
  color: black;
}
a.nav-link.active{
  color: black;
  border-color: #cacaca #cacaca #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: black;
}
.nav-tabs {
  border-bottom: 1px solid #cacaca;
  padding-top: 20px;
}
#footer{
  padding: 20px 0px 0px 0px;
  margin: auto; 
}
#dis{
  text-align: left;
  padding-left: 20px;
  color: rgba(255,255,255,.5);
  font-size: 12px;
}
#copyr{
  color: rgba(255,255,255,.5);
  padding: 10px 10px 20px 10px;
  margin-bottom: 0px;
}


@media (min-width: 576px){
.form-inline .form-group {
  padding-left: 10px;

}
}
